/* Colors */

:root {
    --span-color: rgb(122, 224, 255);
    --h-color: rgb(227, 241, 255);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    color: white;
}

body {
    background-color: rgb(26, 26, 26);
    height: 100vh;
}

span {
    color: var(--span-color)
}

p {
    margin: 0;
}

h2,
h3,
h4,
h5 {
    color: var(--h-color);
    margin: 0
}

#contenedor-principal {
    padding: 0;
}

.desplegable-button {
    background-color: transparent;
    color: white;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid var(--span-color)
}

i.bi {
    display: inline-block;
    animation-name: infinite-row;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes infinite-row {
    0% {
        transform: translateY(0);
       
    }

    50% {
        transform: translateY(-3px);
        
    }

    100% {
        transform: translateY(0);
        
    }
}

#collapse_conceptos:hover .card {
    background-color: rgb(121, 121, 121);
    transition: all ease-in 150ms;
}

#collapse_conceptos .card:not(:hover) {
    background-color: rgb(65, 65, 65);
}

#button-desplegable {
    background-color: transparent;
    font-size: 1em;
}